{% load static  %}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% if favicon %}
      <link rel="icon" type="image/x-icon" href="{{ favicon.url }}">
    {% endif %}
    <title>{{ title }}</title>
    <link href="{% static 'vendors/bootstrap/bootstrap.min.css' %}" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400..800&display=swap" rel="stylesheet">
    <!-- <link href="{% static 'assets/css/styles.css' %}" rel="stylesheet"> -->
</head>

<body>
  <main>
    {% block content %}{% endblock %}
  </main>

  <script src="{% static 'vendors/jquery/jquery-3.6.3.min.js' %}"></script>
  <script src="{% static 'vendors/popper/popper.min.js' %}"></script>
  <script src="{% static 'vendors/jquery-mask/jquery.mask.min.js' %}"></script>
  <script src="{% static 'vendors/bootstrap/bootstrap.min.js' %}"></script>
  <!-- <script src="{% static 'assets/js/scripts.js' %}"></script> -->
</body>

</html>
