# Django
DEBUG=True
SECRET_KEY=django-insecure-(e(g7-507%!m45eaho7xiok$y73fmk33ud74w*a=emwc+(80ws
ALLOWED_HOSTS=*
CSRF_TRUSTED_ORIGINS=http://localhost:8000

# DB
POSTGRES_DB=ticketly
POSTGRES_USER=ticketly
POSTGRES_PASSWORD=ticketly
POSTGRES_HOST=db
POSTGRES_PORT=5432
